<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #eee;
      }
      #map {
        height: 708px;
        width: 100%;
      }

      #headers {
          background-color:white;
          color:gray;
          padding:25px;
          border-bottom: 1px solid #D0D0D0;
      }

      .box-scroll{
        overflow: auto;
        height: 708px;

      }


      .sector-option{
          background-color:white;
          color:gray;
          padding: 25px 0px;
          border-bottom: 1px solid #D0D0D0;
      }

      .sector-option div{
          width: 95%;
          margin: 0px auto;
      }


      }
      .box-left{
        padding: 27px 50px;
        border-left:1px solid #D0D0D0;
      }



    /*card*/





      </style>


  </head>
  <body>




    <div id="headers">
      <div style="float:left;"> <!-- 오른쪽은 보더를 어떻게 해야 될지 모르겠음-->
        <div class="teal-text text-lighten-2">나의 룸메이트</div>
      </div>
      <div style="float:right;">
        <a class="box-left teal-text text-lighten-2" href="#">도움말</a>
        <a class="box-left teal-text text-lighten-2" href="#">TBD</a>
        <a class="box-left teal-text text-lighten-2" href="#">TBD</a>
      </div>
      <div style="clear:both;"></div>
    </div>

    <!-- 화면왼쪽 -->
    <div style="float:left; width:60% ">
      <div class="box-scroll">
      <div class="sector-option">
        <div>지역</div>
      </div>
      <div class="sector-option">
        <div>라이프 스타일</div>
      </div>
      <div class="sector-option">
        <div>가격</div>
      </div>

      <div class="row">
        <div class=" col s12 m6">
          <div class="card">
                <div class="card-image">
                  <img src=<%=asset_path("roommate2.jpeg")%>>
                  <span class="card-title">홍길동</span>
                </div>
                <div class="card-content">
                  <p>남자 / 고려대학교 학생 <br> 안암역 / 학교 근처 / 월 30</p>
                </div>
                <div class="card-action">
                  <span class="teal-text text-lighten-2">항목들</style>
                </div>
          </div>
        </div>

        <div class=" col s12 m6">
          <div class="card">
                <div class="card-image">
                  <img src=<%=asset_path("roommate2.jpeg")%>>
                  <span class="card-title">홍길동</span>
                </div>
                <div class="card-content">
                  <p>남자 / 고려대학교 학생 <br> 안암역 / 학교 근처 / 월 30</p>
                </div>
                <div class="card-action">
                  <span class="teal-text text-lighten-2">항목들</style>
                </div>
          </div>
        </div>

        <div class=" col s12 m6">
          <div class="card">
                <div class="card-image">
                  <img src=<%=asset_path("roommate2.jpeg")%>>
                  <span class="card-title">홍길동</span>
                </div>
                <div class="card-content">
                  <p>남자 / 고려대학교 학생 <br> 안암역/ 학교 근처 / 월 30</p>
                </div>
                <div class="card-action">
                  <span class="teal-text text-lighten-2">항목들</style>
                </div>
          </div>
        </div>

        <div class=" col s12 m6">
          <div class="card">
                <div class="card-image">
                  <img src=<%=asset_path("roommate2.jpeg")%>>
                  <span class="card-title">홍길동</span>
                </div>
                <div class="card-content">
                  <p>남자 / 고려대학교 학생 <br> 안암역 / 학교 근처 / 월 30</p>
                </div>
                <div class="card-action">
                  <span class="teal-text text-lighten-2">항목들</style>
                </div>
          </div>
        </div>

        <div class=" col s12 m6">
          <div class="card">
                <div class="card-image">
                  <img src=<%=asset_path("roommate2.jpeg")%>>
                  <span class="card-title">홍길동</span>
                </div>
                <div class="card-content">
                  <p>남자 / 고려대학교 학생 <br> 안암역 / 학교 근처 / 월 30</p>
                </div>
                <div class="card-action">
                  <span class="teal-text text-lighten-2">항목들</style>
                </div>
          </div>
        </div>

        <div class=" col s12 m6">
          <div class="card">
                <div class="card-image">
                  <img src=<%=asset_path("roommate2.jpeg")%>>
                  <span class="card-title">홍길동</span>
                </div>
                <div class="card-content">
                  <p>남자 / 고려대학교 학생 <br> 안암역 / 학교 근처 / 월 30</p>
                </div>
                <div class="card-action">
                  <span class="teal-text text-lighten-2">항목들</style>
                </div>
          </div>
        </div>

      </div>
     </div>
   </div> <!--왼쪽확면 끝-->




      <!--화면 오른쪽-->
      <div style="float:right; width: 40%;">

        <div id="map"></div>

      </div>
    `
    <div style="clear:both"></div>

















    <script>

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH47gDvneNh6i-m-1T3JB6H6IGTolgkxM&callback=initMap" async defer></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </body>
</html>
